Day 1 - Software development overview and HTML - 13.10.2021.pdf
Day 2 - Introduction to computer hardware and C# - 14.10.2021.pdf
Day 3 - Different programming languages and JavaScript - 18.10.2021.pdf
Day 4 - Computer hardware and Git version control - 21.10.2021.pdf
Day 5 - Software logic - 22.10.2021.pdf
Analyse_your_previous_jobs_or_projects.docx
Code Bootcamp Pohjanmaa s2021 starting day 12.10.2021.pdf
Code_Bootcamp_Pohjanmaa_videolinkki.txt
Elevator_speech_good.PNG
Elevator_speech.PNG
GitHub_and_Lessions.txt
GitHub_things.PNG
GitThings.docx
Hissipuhetta.docx
Identifying_your_own_skills_of_work_life_skills.docx
Identifying_your_own_skills_of_work_life_skills.txt
progit.pdf
Run a code in Komentokehote.docx
Tips_for_speaking_your_own_skills.PNG
Training Schedule Code Bootcamp s2021 Pohjanmaa 12.10-15.11.2021.pdf
Codes/Day1/Change_color_JS.PNG
Codes/Day1/Home.PNG
Codes/Day1/PopUp_window.PNG
Codes/Day1/Random_restaurant.PNG
Analyse_your_previous_jobs_or_projects.docx
Code_Bootcamp_Pohjanmaa_videolinkki.txt
Code Bootcamp Pohjanmaa s2021 starting day 12.10.2021.pdf

/Day 7 - Demo development begins - 26.10.2021.pdf
/GitHub_things_TestiRepository.PNG
/Code Bootcamp_Overview of modern software development, 12.10.2021 13-16 afternoon.mp4
/Codes_2/DotNet/AspNetMvcDemo1/.vs/AspNetMvcDemo1/DesignTimeBuild/.dtbcache.v2

.fake
.ionide
/Codes_2/DotNet/DateConsoleApp/DateConsoleApp/bin/Debug/net5.0
Videos/Code Bootcamp_Overview of modern software development, 13.10.2021 13-16 afternoon.mp4
Videos/Code Bootcamp_Overview of modern software development, 13.10.2021 9-12 forenoon.mp4
Videos/Code Bootcamp_Introduction to computer hardware, first C_ program, 14.10.2021 13-16 afternoon.mp4
Videos/Code Bootcamp_Introduction to computer hardware, first C_ program, 14.10.2021 9-12 forenoon.mp4
Videos/Code Bootcamp_Different programming languages and their use cases, JavaScript, 18.10.2021, 13-16 afternoon.mp4
Day 9 - Databases and SQL - 1.11.2021.pdf
Codes_2/DotNet/DateConsoleApp/.vs/DateConsoleApp/DesignTimeBuild/.dtbcache.v2
Codes_2/DotNet/DateConsoleApp/.vs/DateConsoleApp/v16/.suo
Videos/Code Bootcamp_ Software logic, conditional expression and loops, 22.10.2021, 9-12 forenoon.mp4
Videos/Code Bootcamp_ Software logic, conditional expression and loops, 22.10.2021, 13-16 afternoon.mp4
Videos/Code Bootcamp_Different programming languages and their use cases, JavaScript, 18.10.2021, 9-12 forenoon.mp4
Codes_2/DotNet/DateConsoleApp/.vs/DateConsoleApp/v16/.suo
Job seeking training 3 Interview Preparation .pdf
Job seeking training 1 Identification of personal strenghts and sales pitch.pdf
.gitignore
Ilmoitus_koulutukseen_hyväksymisestä_Code_Bootcamp_Pohjanmaa.pdf
Job seeking training 2 Hidden jobs and utilizing your own network .pdf
Codes_2/DotNet/DateConsoleApp/.vs/DateConsoleApp/v16/.suo
/Codes_2/SQL/MVC_Asp_SQL_demo/bin/Debug/net5.0
/Codes_2/SQL/MVC_Asp_SQL_demo
/Codes_2/SQL/MVC_Asp_SQL_demo_2/bin/Debug/net5.0
Day 11 - Web development and HTTP APIs - 3.11.2021.pdf
Codes_2/DotNet/WebAPIDemo_1/.vs/WebAPIDemo_1/v16/.suo
