@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Veera's site!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> 
    <button type="button" class="btn btn-primary">Push here.</button>
</div>
@{
    for(int ii = 0; ii < 5; ii++)
    {
       <p>This is an iteration number. @ii</p>
    }
}
<img src="~/img/Khao_Phin_Kan.jpg" alt="James Bond island Khao Phing Kan." title="Khao Phing Kan." width="1296" height="864"/>