@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Second page.</h1>
    <p>This is a paragraph.</p>
    <p>This is another paragraph.</p>
</div>
@{
    for (int ii = 0; ii < 5; ii++)
    {
        <p>This is an iteration number. @ii</p>
    }
}