@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Sum text.</p> 
    <p>Text</p>
    <button type="button" class="btn btn-primary">Push here.</button>
</div>
<p>moooooreeeee</p>